
.header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	position: relative;
	background-color: white;
	border-bottom: 1px solid lightgrey;
}

.nav-bar-container{
	/* background: rgb(246,233,239);
		background: linear-gradient(112deg, rgba(246,233,239,1) 9%, rgba(192,234,236,1) 50%, rgba(148,187,233,1) 95%); */
	color: black;
	background-color: whitesmoke;
	width: 100%;
	position: fixed;
	top: 0%;
	padding: 10px;
	z-index: 34;
	transition: 1s ease-in-out;
	border-top: 2px solid white;
}
.nav-bar-container .nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.nav-bar-container .nav .nav-child{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;
	border-bottom: 2px solid white;
}
.nav-bar-container .nav h5{
	font-size: 20px;
	padding-bottom: 0px;
}
.nav-bar-container .nav ul{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding-top: 20px;
}
/* .nav-bar-container .nav ul li{
	color: black;
	text-align: left;
	line-height: 1.5;
	list-style: none;
	font-size: 20px;
} */
.nav-bar-container .navigator .link{
	text-decoration: none;
	color: black;
	font-size: 20px;
	border-bottom: 2px solid white;
	padding: 10px;
}
.nav-bar-container .navigator .link:hover{
	cursor: pointer;
}
.nav-bar-container .nav .profile{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	/* background-image: radial-gradient(circle, #a1c4fd 10%, #c2e9fb 90%); */
}
.nav-bar-container .nav .profile span{
	padding: 10px;
	font-size: 18px;
	margin-top: 10px;
	cursor: pointer;
	border: 1px solid lightgrey;
	margin-right: 10px;
	width: 100%;
}
.nav-bar-container .nav .profile span:hover{
	border:1px solid black;
}
.nav-bar-container .navigator{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: black;
}
.bottom_header{
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0%;
	left: 0%;
	right: 0%;
	padding: 20px;
	z-index: 55;
	background-color: black;

}
.bottom_header .icon{
	font-size: 28px;
	color: white;
}
#icon{
	font-size: 25px;
	text-align: center;
}


/* @media (max-width:767px){
	.nav-bar-container .nav .profile {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		width: 100%;
		background-color: white;

	}

} */

