#contactBanner{
	background-image: url('../../assets/images/cartbanner.png');
	background-size: cover;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
}
#contactBanner h5{
	font-size: 40px;
}
#contact-container{
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 8fr 4fr;
	gap: 20px;
	padding: 60px 50px;
	background-color:whitesmoke;

}

#contact-container .contact-left iframe{
	width: 100%;
	height: 450px;

}
#social-icons span{
	background-color:aliceblue;
	padding: 7px;
	border-radius: 15px;
	cursor: pointer;
	color: black;
}
#social-icons span:hover{
	background-color: lightgreen;
}
#contact-container .contact-left{
	padding: 20px 30px;
    border: 2px solid white;
	background-color: white;
}
#contact-container .contact-right form{
	padding: 30px 30px;
	border: 2px solid white;
	color: black;
	background-color: white;
}
#contact-container .contact-right form label{
	padding: 8px 0px;
}
#contact-container .contact-right form input{
	width: 100%;
	height: 35px;
	outline: none;
	border: 1px solid lightgray;
	background: transparent;
}
#contact-container .contact-right form input:focus{
	border: 1px solid black;
}
#contact-container .contact-right form textarea{
	width: 100%;
	height:20vh;
	outline: none;
	border: 1px solid lightgray;
	background: transparent;
}
#contact-container .contact-right form textarea:focus{
	border: 1px solid black;
}
#contact-container .contact-right form button{
	width: 100%;
	height: 45px;
	outline: none;
	border: none;
	background-color: black;
	color: white;
	margin-top: 15px;
}
#contact-footer{
	border-top: 2px solid rgba(255, 255,255, 0.8);
	background-color: whitesmoke;
	padding: 40px 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


@media (max-width:767px){
	#contactBanner{
		background-image: url('../../assets/images/cartbanner.png');
		background-size: cover;
		height:150px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: white;
		margin-top: 40px;
	}
	#contact-container {
		display: grid;
		grid-template-columns: 1fr;
		padding: 30px 20px;
		gap: 20px;
	}
	#contactBanner h5{
		font-size: 30px;
	}
	#contactBanner p{
		font-size: 12px;
	}
	#contact-container .contact-details{
		padding: 0px 0px;
	}
	#contact-container iframe{
		width:100%;
		height:300px;
	}
	#contact-footer {
		border-top: 2px solid rgba(255, 255,255, 0.8);
		background-color: whitesmoke;
		padding: 10px 10px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
}
@media (min-width:768px) and (max-width:1023px){
	#contactBanner{
		background-image: url('../../assets/images/cartbanner.png');
		background-size: cover;
		height:150px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: white;
	}
	#contact-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 30px 20px;
		gap: 20px;
	}
	#contact-container iframe{
		width:350px;
		height:300px;
	}
	#contactBanner h5{
		font-size: 40px;
	}
	#contact-container .contact-right form textarea {
		width: 100%;
		height:90px;
		outline: none;
		border: 1px solid lightgray;
		background: transparent;
	}
	#contact-container .contact-left iframe {
		width: 100%;
		height: 400px;
	}

}
@media (min-width:1024px) and (max-width:1279px){
	#contact-container {
		display: grid;
		grid-template-columns: 2fr 1fr;
		padding: 80px 20px;
		gap: 20px;
	}
	#contactBanner{
		background-image: url('../../assets/images/cartbanner.png');
		background-size: cover;
		height:150px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: white;
	}
	#contact-container iframe{
		width:500px;
		height:350px;
	}
	#contactBanner h5{
		font-size: 40px;
	}
	#contact-container .contact-right form textarea {
		width: 100%;
		height: auto;
		outline: none;
		border: 1px solid lightgray;
		background: transparent;
	}

}

